@import url("https://fonts.googleapis.com/css2?family=Kreon&family=Martel:wght@200;300;400&display=swap");
/* RESET DEFAULT STYLES */
*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* this defines 1 rem */
  font-size: 62.5%;
  /* 1rem=10px; 10px/16px=62.5% */
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Martel", serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  /* background-color: #fff9f0; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
/* HEADERS */

h1,
h2,
h3 {
  font-family: "Kreon", serif;
  font-weight: 400;
}
h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--dark);
}

h2 {
  font-size: 3rem;
  display: inline-block;
}
h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  color: var(--lighterdark);
}
/* COLORS */

:root {
  --light: #fff9f0;
  --orange: #f6752d;
  --orangeFooter: #f6732da6;
  --purple: #6f6dd3;
  --dark: #3d3e44;
  --lighterdark: #515464;
}

/* UTILITY CLASSES */
.u-center-text {
  text-align: center;
}
.u-center-container {
  margin: 0 auto;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-box-shadow {
  box-shadow: -1px 2px 5px #f6732d33;
}

.text-purple {
  color: var(--purple);
}
.text-bold {
  font-weight: bold;
}

/*** HOMEPAGE ***/

/** HEADER **/

/*General*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.home-header {
  padding: 0 1rem;
}
/*Buttons*/
.orange-btn,
.purple-btn {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.purple-btn {
  margin-right: 0.5rem;
  border: solid 0.1rem var(--purple);
  background-color: var(--light);
  color: var(--purple);
}

.orange-btn {
  border: none;
  border: solid 0.1rem var(--orange);
  background-color: var(--orange);
  color: var(--light);
}
button:disabled {
  background-color: #b2b3b5;
  color: #515464;
  border: none;
}
button:disabled:hover {
  background-color: #b2b3b5;
  color: #515464;
  border: none;
}
.purple-btn:hover {
  background-color: var(--purple);
  color: var(--light);
}

.orange-btn:hover {
  background-color: var(--light);
  color: var(--orange);
}

.app-logo {
  width: 10rem;
}

/** BODY **/
/*Section one*/
body {
  background-color: var(--light);
}

.homepage-main-container,
.home-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-main-container {
  align-items: center;
  padding: 0 2rem;
}

.homepage-main-image-container {
  width: 80%;
}

.homepage-main-image {
  width: 100%;
}

/*Section two*/
.home-card-container {
  padding: 2rem;
  margin: 3rem 0 5rem;
  background-color: #fff;
  border-radius: 2rem;
}

ul {
  margin-left: 8rem;
  font-weight: bold;
}

span {
  color: var(--purple);
}

/*Section three*/

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-up,
.card-down {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  width: 50vw;
  text-align: center;
}

.card-up {
  transform: rotate(-5deg);
}

.card-down {
  transform: rotate(3deg);
}

.card-up:last-of-type {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .homepage-main-text {
    padding: 0 3rem;
    width: 40vw;
  }

  h1 {
    font-size: 4.5rem;
    margin-bottom: 8rem;
  }

  p {
    font-size: 2rem;
    /* margin-bottom: 3rem; */
  }

  .homepage-main-container {
    flex-direction: row;
    /* padding: 5rem; */
  }

  .homepage-main-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .home-card-container {
    flex-direction: row;
    width: 80vw;
    align-items: center;
    margin-top: 10rem;
  }

  .home-card-container > img {
    width: 50%;
    margin-right: 4rem;
  }

  .card-down,
  .card-up {
    width: 30vw;
    font-size: 1.5rem;
  }
}

/** FOOTER **/
.footer {
  text-transform: uppercase;
  background-color: var(--orangeFooter);
  /* height: 6vh; */
  padding: 1rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footer-text {
  display: inline-block;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--light);
}

/*** LOGIN ***/
div.login-main-container,
div.signup-main-container {
  padding: 0 1rem;
}

div.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 6rem;
}

div.form-container > p {
  margin-top: 12rem;
}

div.form-container > h2 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

input,
textarea {
  border: 0.1rem solid var(--orange);
  border-radius: 1rem;
  padding: 1rem;
  width: 80vw;
}

/*** SIGN UP ***/

div.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.signup-form-container > p:nth-of-type(2) {
  margin: 6rem 0 1rem;
}

div.signup-form-container > h2 {
  margin: 3rem 0 0 0;
}

@media (min-width: 380px) {
  input {
    width: 30vw;
  }
}

/*** BOARD ***/

.board-header,
.print-btn,
.card-container,
.card {
  display: flex;
}
.card {
  flex-direction: column;
}

.board-header {
  justify-content: space-between;
  padding: 0 1rem;
}

.print-btn {
  flex-direction: row;
  height: 4rem;
  gap: 1rem;
  margin-top: 1rem;
}

.print-btn > p {
  color: var(--purple);
}
.print-btn:hover > p {
  color: var(--light);
}

.card-container {
  justify-content: center;
}

.card {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  width: 75vw;
}

.task-container {
  display: flex;
  justify-content: space-between;
}

.print-btn > p,
.card > p {
  margin: 0;
}

/* ADMIN PANEL */
.admin-panel-logo-container {
  padding: 0 1rem;
}
.admin-panel-container {
  padding: 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.admin-panel-left {
  flex: 1;
}
.admin-panel-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 0;
  /* justify-content: center; */
}
.admin-panel-btn {
  border: solid 0.2rem var(--orange);
  color: var(--orange);
  padding: 1.5rem;
  width: 60%;
  font-weight: bold;
  background-color: transparent;
  justify-content: center;
  border-radius: 0.5rem;
}
.admin-panel-btn > p {
  margin-bottom: 0;
}
.admin-panel-btn:hover {
  background-color: var(--orange);
  color: var(--light);
}
.admin-panel-header {
  display: none;
}
.admin-panel-settings-box {
  display: inline-block;
  height: 30vh;
  background-color: #fff;
  box-shadow: -2px 2px 5px var(--orangeFooter);
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .admin-panel-header {
    display: inline-block;
  }
  .admin-panel-settings-box {
    display: inline-block;
  }
  .admin-panel-btn {
    display: flex;
    width: 50%;
    padding: 1.5rem;
    align-items: center;
  }

  .admin-panel-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .admin-panel-board-redirection {
    width: 50%;
  }
  .admin-panel-settings-box {
    width: 40%;
    flex: 1;
    display: inline-block;
    height: auto;
    background-color: #fff;
    box-shadow: -2px 2px 5px var(--orangeFooter);
  }
}

/*** ADD TASKS ***/
.tasks-card-container,
.task-card {
  display: flex;
  flex-direction: column;
}

.tasks-card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

select {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.task-card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
}

.task-card:last-of-type {
  margin-bottom: 5rem;
}

textarea {
  margin-top: 2rem;
}

.task-card > form > button {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .tasks-card-container {
    width: 50rem;
    margin: 0 auto;
  }

  .task-card > form > div > input,
  .task-card > form > div > textarea {
    width: 100%;
  }
}
